html {
  min-width: 350px;
}

body {
  font-family: monospace;
  margin: 0;
  height: 100vh;
  background: linear-gradient(
        180deg,
        rgba(36, 26, 41, 1) 0%,
        rgba(99, 47, 154, 1) 230px,
        rgba(158, 158, 158, 1) 230px,
        rgba(158, 158, 158, 1) 233px,
        rgba(255, 255, 255, 1) 233px,
        rgba(255, 255, 255, 1) 234px,
        rgba(240, 240, 240, 1) 234px,
        rgba(220, 220, 220, 1) 400px,
        rgba(220, 220, 220, 1) 100%
      )
      repeat-x,
    rgba(220, 220, 220);
}

h1 {
  color: white;
  margin: 0;
  padding-top: 60px;
  text-align: center;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 140, 255, 0.5);
  font-size: 3rem;
}

h2 {
  margin-top: 0;
  text-decoration: underline;
}

h3 {
  margin-top: 0;
  text-decoration: underline;
}

.container {
  width: 80vw;
  min-width: 640px;
  max-width: 1024px;
  margin: auto;
  margin-top: 50px;
  gap: 1rem;
  display: flex;
  justify-content: center;
}

.flexBox {
  background: white;
  border-radius: 16px;
  border: #aaaaaa solid 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 16px;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type='date'] {
  padding: 8px;
  border-radius: 8px;
  border: #888 3px solid;
  flex: 1 1 0;
  margin-bottom: 0.5rem;
}

input[type='date']:focus {
  outline: none;
  border: purple 3px solid;
}

label {
  color: #444444;
  font-weight: bold;
  margin-right: 1rem;
  text-align: right;
  flex: 0 0 50px;
}

.datePicker {
  flex: 0 0 300px;
}

.content {
  flex: 1 1 auto;
}

.footer {
  min-width: 640px;
  color: #666666;
  text-align: center;
}

.footer a {
  color: purple;
  text-decoration: underline 1px pink;
}

.footer a:hover {
  color: pink;
}

.footer a:visited {
  color: navy;
  text-decoration: underline 1px pink;
}

p {
  margin-bottom: 2rem;
}

p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 660px) {
  .container {
    flex-direction: column;
    min-width: 0;
    width: 100%;
  }

  .datePicker {
    flex: 1 1 auto;
  }

  .footer {
    min-width: 0;
  }
}
